<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Clientes</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/estilo.css}" rel="stylesheet" type="text/css"/>
        <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <nav th:replace="~{barraMenu :: menu}"></nav>

    <span th:text="${path}?:${msgFile}"></span>

    
    <div class="container">
        <h1 class="display-1 my-4">
            Alterar Cliente
        </h1 >
        <hr class="my-4"/>
        <form th:insert="~{formCliente :: form}"  th:method="POST" action="/clientes/alterar/" enctype="MULTIPART/FORM-DATA" th:object="${cliente}" >


        </form>


    </div>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
