<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cadastrar Cliente</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <div>
            <h1>Cadastrar Cliente</h1>
            <form th:action="@{/clientes/cadastrar}" th:object="${cliente}" method="post" enctype="multipart/form-data">
                
                <ul th:if="${#fields.hasErrors('dtNasc')}">
                    <li th:each="err : ${#fields.errors('dtNasc')}" th:text="'Data Nascimento: '+${err}"></li>
                </ul>
                
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{foto}"/>
                <input type="hidden" th:field="*{curriculo}"/>
                <label for="#ids.next('nome')" th:text="'Nome:'"/>
                <input type="text" th:field="*{nome}"/><br/>
                <label for="#ids.next('dtNasc')" th:text="'dtNasc:'"/>
                <input type="date" th:field="*{dtNasc}"/><br/>
                
                <h3>Endereço:</h3>
                <label for="#ids.next('endereco.rua')" th:text="'Rua:'"/>
                <input type="text" th:field="*{endereco.rua}"/><br/>
                <label for="#ids.next('endereco.numero')" th:text="'Numero:'"/>
                <input type="text" th:field="*{endereco.numero}"/><br/>
                
                <h3>Telefones:</h3>
                <p><input type="submit" name="addTel" value="addTel" /></p>
                <table>
                    <tr th:each="telefone, itemStat : *{telefones}">
                        <td>
                            <input type="text" th:field="*{telefones[__${itemStat.index}__].numero}">
                        </td>
                    </tr>
                </table>
                <br/>
                <label for="file" text="Foto:"/>
                <input type="file" id="file" name="file"/><br/>
                <label for="filePdf" text="Currículo:"/>
                <input type="file" id="filePdf" name="filePdf"/><br/>
                <input type="submit" value="salvar"/>
            </form>
        </div>
    </body>
</html>
